
</div><p id="notice"><%= notice %></p>


<div class="thank-you">
  <h2 class="small-modal-header">Awesome Opossum</h2>
  <div class="modal-spacing"
    <p class="centered-text"> Thank you for participating in our survey! </p>

    <p class="centered-text">
      Sign up today to create your own survey!



    </p>
  </div>
    <%= link_to 'Create New Account', new_author_path, :class=> 'link new-account-link modal-link' %>
