/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
	font-family: '.HelveticaNeueDeskInterface-Regular';
	// background-color: #e9eef1;
	margin-left:auto;
	margin-right:auto;
	background-color:#bdcbbd;
}



.header{
	top: 0;
	left: 0;
	position: fixed;
	color: #ffffff;
	width: 100%;
	// text-align: center;
	z-index: 1;
	height: 7em;
	box-shadow: 0em .25em 2em #888888;
	background-color:#839883;
}

		.header h1{
			margin: .5em 0 0 0;
			padding: 0;
			text-align: center;
		}

		.logout{
			// display: inline;
			float: right;
			font-size: 1.2em;
			padding: .5em;
			margin-right: 3em;
			margin-top:-2.2em;
			z-index: 1;

		}


.create-new-account,
.thank-you,
.login,
.create-survey,
.survey-results,
.form-submit-confirmation,
.user-home-page,
.take-survey{
	font-size: 1.5em;
	background-color: #ffffff;
	margin-top: 9em;
	padding: 2.5em;
	min-width: 320px;
	max-width: 850px;
	width: 100%;
	margin-left: auto;
	margin-right:auto;
	box-shadow: 0em .25em 1em #888888;
}


.create-new-account,
.form-submit-confirmation,
.thank-you,
.login{
	max-width: 350px;
	text-align: center;
	padding: 2.5em;
}

.login-input{
	font-size: 1em;
	padding: .3em;
	border: none;
	width: 15em;
	margin: .5em;
	margin-left: auto;
	margin-right: auto;
	background: #cdcdcd;
	color: white;
}

.survey-results{
	margin: 0 auto;
	text-align: center;
}

.home-house-streamline{
	width: 42px;
	height: auto;
}
.small-modal-header{
	color: #5b6a5b ;
	text-align: center;
	margin-top:.25em;

}

.centered-text{
	text-align: center;

}

.modal-spacing{
	margin-bottom: 3em;
}


.modal-background{
	background-color:#839883;
}
