

// BUTTONS

.button-box{
    text-align: center;
}

link{
    color: #ffffff ;
    font-size: 1em;
    padding: .75em;
    border-style: none;
    margin: 1em;
}


button.focus,
link:focus{
    outline:none;
}


.submit-link{
   background-color:#5b6a5b ;
}



.login,
.new-account-link{

   background-color:#ff2d8d;

}




.modal-link{
  margin-left: auto;
  margin-right: auto;

}

.add-link{
   background-color:orange;
}

// .submit-link:hover{
//     background-color:#c1094c ;
// }

.new-account-button:hover{
    background-color:blue;
}

.add-button:hover{
    background:#ff7400 ;
}


.submit-link:active{
    background-color:#9bac9b ;
}

.new-account-link:active{
    background-color:#ff6caf;
}

.add-button:active{
    background:#ff7400 ;
}


.publish{
	text-decoration: none;
	background-color: orange;
	color: #ffffff;
	font-size: 1em;
	padding: .75em;
	border-style: none;
}










//LINKS


.link{
    text-decoration: none;
    color: #ffffff ;
    // font-size: 1.2em;
    padding: .75em;
    border-style: none;
    margin: 1em;
    border-radius: .4em;
}

.newpage{
    background-color:orange;
}

.newpage:hover{
    background:#ff7400 ;
}


.newpage:active{
    background:#ff7400 ;
}


.user-edit{
	background-color:#839883;
	border-radius: .8em;
	padding: .25em;
	margin: .1;


}



.user-edit:active{
  background-color:#9bac9b ;

}
