//SURVEY DETAILS


.survey-details label{
  text-align: center;
}

.survey-details input,
.survey-details textarea{
  display: block;
  margin: auto;
}





// QUESTIONS


.question-box{
  margin: 1em;
}

.question-details{
  display: inline-block;
}

.question-details input{
  display: block;
  margin: auto;
}

.question input{
  display: block;
  margin: auto;
}





// FOOTER


.action-options{
  margin: auto;
}
