
.table{
	margin-top:3em;
	margin-left: auto;
	margin-right: auto;
	background-color: white;

}


.table-header{
	font-size: 1.5em;
	padding: 1em;
	margin: .5em;
	background-color:#202040;
	color: white;
	font-weight: bold;
	border: none;
}


td{
	color: #8b8e90;
	padding: .25em;
	margin: .25em;
	height: 3em;
	border: none;
}

.user-edit{
	margin: .1;
}
